@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
body{
  margin: 0;
  font-family: 'Ubuntu';
}
.board{
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}
h1{
  margin: 0;
}
.title{
  height: 10%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(17, 17, 102);
  color: white;
}
.form{
  display: flex;
  background-color: rgb(69, 69, 172);
  justify-content: center;
  column-gap: 20px;
  height: 10%;
  align-items: center;
  color: white;
  font-weight: bold;
}
label{
  margin-right: 10px;
}
input{
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 5px;
  width: 50px;
}
button{
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px 15px;
}
button:hover{
  background-color: blue;
  color: white;
}
.table{
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-color: rgb(130, 130, 214);
  width: 100%;
  height: 100%;
}
.table-static{
  position: relative;
  width: 100%;
  height: 100%;
}
.terrain{
  display: grid;
}

.cell{
  position: absolute;
  display: flex;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.cell-content{
  position: relative;
}
.cell-cover{
  position: absolute;
  display: flex;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  background-color: rgb(195, 204, 75);
}
.visible{
  background-color: greenyellow;
}
/*COLORES DE LAS CELDAS*/
.c0{
  background-color: rgb(255, 255, 255);
}
.c1{
  background-color: #FCE4D6;
}
.c2{
  background-color: #B4C6E7;
}
.c3{
  background-color: #C6E0B4;
}
.c4{

}
.c5{

}
.c6{

}
.c7{

}
.c8{

}
.X{
  background-color: #fa955b;
}
.act{
  background-color: transparent !important;
}
/*Fin de seccion de colores*/

.invisible{
  background-color: rgb(130, 130, 214);
  cursor: auto;
}

.help{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(130, 130, 214);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.gameOver{
  position: absolute;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 50%;
  margin-left:  100px;
  z-index: 3;
}